<h1>Show Project</h1>

<ul>

  <li>
    <strong>Uri:</strong>
    <%= @project.uri %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= @project.image %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @project.title %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @project.notes %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.project_path(@conn, :edit, @project) %></span>
<span><%= link "Back", to: Routes.project_path(@conn, :index) %></span>
