.  <article class="explainer">

    <address class="author">
      <a href="">
    </address>

    <h1 class="explainer-title"></h1>

    <section class="explainer-content">
    </section>

  </article>