<a href="https://github.com/workingjubilee" class="icon github" >
  <object type="image/svg+xml" data="/images/github.svg">GitHub</object>
</a>

<a href="https://www.linkedin.com/in/jubilee-young/" class="icon linkedin" >
  <object type="image/svg+xml" data="/images/linkedin.svg">LinkedIn</object>
</a>

<a href="https://twitter.com/workingjubilee" class="icon twitter" >
  <object type="image/svg+xml" data="/images/twitter.svg">Twitter</object>
</a>

