@import url('grid.css');
@import url('base.css');


a.icon {
  box-sizing: content-box;
  cursor: pointer;
}

.icon > *:first-child {

  min-height: 2rem;
  min-width: 2rem;
  width: 100%;
  height: 100%;
  max-height: 4rem;
  max-width: 4rem;
  filter: invert(100%) sepia(20%);

}

.icon-links {
  grid-column: col3;
  grid-row: row0;

  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-self: center;
}