@import "./base.css";
@import "./grid.css";

.jubilee {
  background-color: hsl(288,40%,3%);
  border-radius: 4rem;
}

header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 8;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: 'Rubik', 'Helvetica', sans-serif;
  font-weight: 500;
}

.sky {
  background-color: skyblue;
}

.rainbow {
  isolation: isolate;
  background: radial-gradient(circle 166vh at bottom right,
    transparent 0%,
    transparent 44%,
    transparent 46%,
    hsl(240, 100%, 25%, .75) 48%,
    hsl(240, 100%, 25%, .75) 49%,
    hsl(180, 100%, 50%, .75) 50%,
    hsl(180, 100%, 50%, .75) 51%,
    hsl(120, 100%, 25%, .75) 52%,
    hsl(120, 100%, 25%, .75) 53%,
    hsl(60, 100%, 50%, .75) 54%,  
    hsl(60, 100%, 50%, .75) 55%,  
    hsl(39, 100%, 50%, .75) 56%,
    hsl(39, 100%, 50%, .75) 57%,
    hsl(0, 100%, 50%, .75) 58%,
    hsl(0, 100%, 50%, .75) 59%,
    transparent 61%,
    transparent 67%,
    transparent 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
}

a.icon {
  cursor: pointer;
  padding: 0.5rem;

}
a:-webkit-any-link {
  color: inherit;
}

.icon > *:first-child {
  min-height: 5rem;
  min-width: 5rem;
  mix-blend-mode: exclusion;
  filter: invert(100%);
}

.icon > *:first-child:link {
  color: inherit;
}

.namebox {
  width: 20rem;
}

.icon-links {
  width: 20rem;
  display: flex;
  flex-flow: row-reverse nowrap;  
  align-self: center;
}

/*
.github {
  grid-column: col3;
  grid-row: row0;
}

.linkedin {
  grid-column: col2;
  grid-row: row1;
}

.twitter {
  grid-column: col1;
  grid-row: row2;
}
*/

.cloud {
  grid-column-end: span 3;
  background-image: url('/images/text-cloud.svg');
  color: black;
  background-repeat: no-repeat;
  padding: 4rem;
  min-width: 5rem;
  background-size: contain;
  max-width: 100vw;
}

.cloud >*:first-child {
  text-indent: 1rem;
  margin: 0 auto;
  z-index: 1;
  color: hsl(240, 67%, 20%);
}

object {
  pointer-events: none;
}

/*.projects {

}*/

/*.project.cloud {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 20rem;
}*/

.project0 {
  grid-column-start: 2;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.project1 {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.project2 {
  grid-column-start: 2;
  grid-column-end: span 5;
  grid-row-start: 4;
  grid-row-end: span 1;
}

.project3 {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 5;
  grid-row-end: span 1;
}

/* background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%); */