/*.interrupt {
  box-sizing: content-box;
  position: absolute;
  left: 0%;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}*/

.layout {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 750px) {
  .layout {
    margin: 0 auto;
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    grid-gap: 2rem;
/*    grid-template-rows: 1fr 1fr 1fr 1fr;*/
  }
}