<!DOCTYPE html>
<html lang="en">
<%# This embeds Elixir code in an EEx template, and because this is evaluated as Elixir code, it is parsed as a comment by Elixir.  %>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>jubilee.dev</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,800&display=swap" rel="stylesheet">
  </head>
  <body>

    <main role="main" class="layout">
    <section class="navsect">
      <div class="brand-container">
        <a href="/" class="brand"><h1 class="my-name">Jubilee</h1>
        <img src="/images/cloud-mark.svg" class="cloudmark" alt="in the clouds" />
        </a>
      </div>

    <nav class="navi">
      <a class="navlink" href="/projects">Builds</a>
      <a class="navlink" href="/explains">Explains</a>
      <a class="navlink" href="/contact">Connects</a>
    </nav>

    <div class="contacts" style="display: flex; flex-flow: row wrap; justify-content: center; padding: 1rem;">
      <a href="https://github.com/workingjubilee" class="icon github" >
        <img src="/images/github.svg" />
      </a>

      <a href="https://www.linkedin.com/in/jubilee-young/" class="icon linkedin" >
        <img src="/images/linkedin.svg" />
      </a>

      <a href="https://twitter.com/workingjubilee" class="icon twitter" >
        <img src="/images/twitter.svg" />
      </a>
    </div>
  </section>




      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns # This embeds the view's template from a module %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>



  </body>
</html> 

