<!DOCTYPE html>
<html lang="en">
<%# This embeds Elixir code in an EEx template, and because this is evaluated as Elixir code, it is parsed as a comment by Elixir.  %>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>jubilee.dev</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,800&display=swap" rel="stylesheet">
  </head>
  <body>

    <main role="main" class="grid">
        <h1 class="my-name">Jubilee</h1>
        <object type="image/svg+xml" data="/images/cloud-mark.svg" class="cloudmark">in the clouds</object>

    <div class="icon-links">
      <a href="https://github.com/workingjubilee" class="icon github" >
        <object type="image/svg+xml"  data="/images/github.svg">GitHub</object>
      </a>

      <a href="https://www.linkedin.com/in/jubilee-young/" class="icon linkedin" >
        <object type="image/svg+xml" data="/images/linkedin.svg">LinkedIn</object>
      </a>

      <a href="https://twitter.com/workingjubilee" class="icon twitter" >
        <object type="image/svg+xml" data="/images/twitter.svg">Twitter</object>
      </a>
    </div>


      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns # This embeds the view's template from a module %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>



  </body>
</html>


<!--
  Conceptually speaking, 
  -->