<!DOCTYPE html>
<html lang="en">
<%# This embeds Elixir code in an EEx template, and because this is evaluated as Elixir code, it is parsed as a comment by Elixir.  %>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>jubilee.dev</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet">
  </head>
  <body>
    <main role="main" class="grid rainbow">
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
          </ul>
        </nav>
        <h1 class="h">Jubilee</h1>
      </section>
    </header>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns # This embeds the view's template from a module %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>


<!--
  Conceptually speaking, 
  -->